<div class="container">
    <h1 class="my-4">Editar Usuário</h1>

    {{#if message}}
    <div class="alert alert-{{message.[0]}}">
        {{message.[1]}}
    </div>
    {{/if}}

    <form method="POST" action="/usuario/{{usuario.id}}/edit">
        <div class="my-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" id="id-input-id" value="{{usuario.id}}" class="form-control" disabled>
        </div>
        <div class="my-3">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="id-input-nome" value="{{usuario.nome}}" class="form-control"
                placeholder="Digite um nome para o usuário. Ex: {{usuario.nome}}" required>
        </div>
        <div class="my-3">
            <label for="id-input-senha" class="form-label">Senha</label>
            <input type="text" name="senha" id="id-input-senha" value="{{usuario.senha}}" class="form-control"
                placeholder="Digite a senha para o usuario. Ex: {{usuario.senha}}" required>
        </div>
        <div class="my-3">
            <label for="id-input-seguidores" class="form-label">Seguidores</label>
            <input type="number" name="seguidores" id="id-input-seguidores" value="{{usuario.seguidores}}" class="form-control"
                placeholder="Digite o número de seguidores do  usuario. Ex: {{usuario.seguidores}}" required>
        </div>
        <div class="my-3">
            <label for="id-input-dataCriacao" class="form-label">Data de Criação</label>
            <input type="text" name="dataCriacao" id="id-input-dataCriacao" value="{{usuario.dataCriacao}}"
                class="form-control" placeholder="Digite a data de criação da conta do usuario. Ex: {{usuario.dataCriacao}}"
                required>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="/usuario" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>